@font-face {
	font-family: 'thh';
	src: url('thh.eot?#') format('eot'),
		url('thh.svg#icomoon') format('svg'),
		url('thh.woff') format('woff'),
		url('thh.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'thh';
	content: attr(data-icon);
	speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'thh';
	font-style: normal;
	speak: none;
}
.icon-feed:before {
	content: "\65";
}
.icon-google-plus:before {
	content: "\67";
}
.icon-twitter:before {
	content: "\74";
}
.icon-facebook:before {
	content: "\66";
}
.icon-cog:before {
	content: "\73";
}
.icon-locked:before {
	content: "\6c";
}
.icon-unlocked:before {
	content: "\6f";
}
