@import "h5bp";
@import "compass/css3";
@include h5bp-helpers;
@include h5bp-chromeframe;
@include h5bp-media;
/*@import "fonts";*/

* {
  @include box-sizing(border-box);
}

body {
  background: url(../img/diagonal_waves.png) left top repeat;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.main-wrap {
  font-family: 'davidclm-medium', sans-serif;
  width: 80%;
  height: 100%;
  background: #f8fdbe;
  margin: 0 auto;
  div.main {
    width: 74%;
    float: right;
  }
  aside.main {
    font-family: 'davidclm-medium', sans-serif;
    width: 22%;
    float: left;
    background: #fff;
    padding: 5px 0 10px;
    margin: 15px 0 0 15px;
    text-align: center;
    @include box-shadow(rgba(black, 0.4) 0 0 10px, rgba(black, 0.2) 0 0 3px 1px inset);
    hr{
      width: 90%;
    }
  }
}


.chapter {
  
  font-size: 24px;
  letter-spacing: normal;
  line-height: 1.3em;
  background: #fff;
  text-align: justify;
  padding: 5px 25px 10px;
  margin: 15px 15px 0 0;
  @include box-shadow(rgba(black, 0.4) 0 0 10px, rgba(black, 0.2) 0 0 3px 1px inset);
  h2 {
    text-align: center;
    margin: 0;
  }
  .posuk-num {
    font-size: 0.6em;
  }
}



.button {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  margin: 5px;
  background: #e7f084;
  @include border-radius(10px);
  color: #000;
  &:hover, &:focus {
    background: #d6df68;
  }
  .bold{
    font-weight: bold;
  }
}


.homeButtonsDiv{
  text-align: justify;
  margin: 15px 15px 0 0;
}

.homeButtons{
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px 5px;
  background: darken(#e7f084,10%);
  color: #888;
  &:hover{
    background: darken(#d6df68,10%);
    color: #000;
  }
}


.breadcrumb{
  font-family: 'davidclm-medium', sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.clear {
  clear: both;
}