@import "h5bp";
@import "compass/css3";
@include h5bp-helpers;
@include h5bp-chromeframe;
@include h5bp-media;

* {
	box-sizing: border-box;	
}

body {
	background: url(../img/diagonal_waves.png) left top repeat;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-size: 20px;
}

.main-wrap {
	width: 80%;
	height: 100%;
	background: #f8fdbe;
	margin: 0 auto;
	div.main {
		width: 80%;
		float: left;
	}
	aside.main {
		width: 20%;
		float: left;
	}
}


.chapter {
	background: #fff;
    text-align: justify;
    padding: 5px 25px 10px;
    margin: 15px;
    @include box-shadow(rgba(black, 0.4) 0 0 10px, rgba(black, 0.2) 0 0 3px 1px inset);
	h2 {
		text-align: center;
        margin: 0;
	}
    .posuk-num {
      font-size: 0.8em;
    }
}



.clear {
	clear: both;
}