/* line 7, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
/* line 26, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.ir br {
  display: none;
}

/* line 9, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 45, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 55, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 56, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}
/* line 57, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

/* line 6, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_chromeframe.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

@media print {
  /* line 11, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 13, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../../../../fire.app/lib/ruby/compass_extensions/compass-h5bp/stylesheets/h5bp/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 7, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 11, ../sass/style.scss */
body {
  background: url(../img/diagonal_waves.png) left top repeat;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 20px;
}

/* line 20, ../sass/style.scss */
.main-wrap {
  width: 80%;
  height: 100%;
  background: #f8fdbe;
  margin: 0 auto;
}
/* line 25, ../sass/style.scss */
.main-wrap div.main {
  width: 80%;
  float: left;
}
/* line 29, ../sass/style.scss */
.main-wrap aside.main {
  width: 20%;
  float: left;
}

/* line 36, ../sass/style.scss */
.chapter {
  background: #fff;
}
/* line 38, ../sass/style.scss */
.chapter h2 {
  text-align: center;
}

/* line 45, ../sass/style.scss */
.clear {
  clear: both;
}
